Repository redhat-openshift-ecosystem/certified-operators-preprod, pull requests merged in 2024-02, with the labels that each got.

#4067 operator e2e-memcached-operator (0.0.920)
  operators/e2e-memcached-operator/0.0.920/Dockerfile
  operators/e2e-memcached-operator/0.0.920/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.920/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.920/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.920/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.920/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.920/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4068 operator e2e-memcached-operator (0.0.921)
  operators/e2e-memcached-operator/0.0.921/Dockerfile
  operators/e2e-memcached-operator/0.0.921/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.921/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.921/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.921/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.921/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.921/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4069 operator e2e-memcached-operator (0.0.922)
  operators/e2e-memcached-operator/0.0.922/Dockerfile
  operators/e2e-memcached-operator/0.0.922/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.922/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.922/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.922/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.922/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.922/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4070 operator e2e-memcached-operator (0.0.923)
  operators/e2e-memcached-operator/0.0.923/Dockerfile
  operators/e2e-memcached-operator/0.0.923/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.923/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.923/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.923/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.923/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.923/tests/scorecard/config.yaml
Labels: operator-release-pipeline/started, operator-hosted-pipeline/passed

#4071 operator e2e-memcached-operator (0.0.924)
  operators/e2e-memcached-operator/0.0.924/Dockerfile
  operators/e2e-memcached-operator/0.0.924/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.924/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.924/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.924/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.924/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.924/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4072 operator e2e-memcached-operator (0.0.925)
  operators/e2e-memcached-operator/0.0.925/Dockerfile
  operators/e2e-memcached-operator/0.0.925/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.925/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.925/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.925/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.925/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.925/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4073 operator e2e-memcached-operator (0.0.926)
  operators/e2e-memcached-operator/0.0.926/Dockerfile
  operators/e2e-memcached-operator/0.0.926/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.926/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.926/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.926/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.926/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.926/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4074 operator e2e-memcached-operator (0.0.927)
  operators/e2e-memcached-operator/0.0.927/Dockerfile
  operators/e2e-memcached-operator/0.0.927/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.927/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.927/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.927/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.927/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.927/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4075 operator e2e-memcached-operator (0.0.928)
  operators/e2e-memcached-operator/0.0.928/Dockerfile
  operators/e2e-memcached-operator/0.0.928/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.928/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.928/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.928/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.928/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.928/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4076 operator e2e-memcached-operator (0.0.929)
  operators/e2e-memcached-operator/0.0.929/Dockerfile
  operators/e2e-memcached-operator/0.0.929/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.929/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.929/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.929/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.929/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.929/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4077 operator e2e-memcached-operator (0.0.930)
  operators/e2e-memcached-operator/0.0.930/Dockerfile
  operators/e2e-memcached-operator/0.0.930/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.930/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.930/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.930/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.930/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.930/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4078 operator e2e-memcached-operator (0.0.931)
  operators/e2e-memcached-operator/0.0.931/Dockerfile
  operators/e2e-memcached-operator/0.0.931/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.931/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.931/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.931/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.931/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.931/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4079 operator e2e-memcached-operator (0.0.932)
  operators/e2e-memcached-operator/0.0.932/Dockerfile
  operators/e2e-memcached-operator/0.0.932/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.932/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.932/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.932/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.932/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.932/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4080 operator e2e-memcached-operator (0.0.933)
  operators/e2e-memcached-operator/0.0.933/Dockerfile
  operators/e2e-memcached-operator/0.0.933/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.933/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.933/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.933/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.933/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.933/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4081 operator e2e-webonly-operator (0.0.175)
  operators/e2e-webonly-operator/0.0.175/Dockerfile
  operators/e2e-webonly-operator/0.0.175/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-webonly-operator/0.0.175/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-webonly-operator/0.0.175/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-webonly-operator/0.0.175/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-webonly-operator/0.0.175/metadata/annotations.yaml
  operators/e2e-webonly-operator/0.0.175/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4082 operator e2e-memcached-operator (0.0.934)
  operators/e2e-memcached-operator/0.0.934/Dockerfile
  operators/e2e-memcached-operator/0.0.934/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.934/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.934/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.934/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.934/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.934/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4083 operator e2e-memcached-operator (0.0.935)
  operators/e2e-memcached-operator/0.0.935/Dockerfile
  operators/e2e-memcached-operator/0.0.935/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.935/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.935/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.935/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.935/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.935/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4084 operator e2e-memcached-operator (0.0.936)
  operators/e2e-memcached-operator/0.0.936/Dockerfile
  operators/e2e-memcached-operator/0.0.936/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.936/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.936/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.936/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.936/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.936/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4085 operator e2e-memcached-operator (0.0.937)
  operators/e2e-memcached-operator/0.0.937/Dockerfile
  operators/e2e-memcached-operator/0.0.937/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.937/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.937/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.937/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.937/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.937/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4086 operator e2e-memcached-operator (0.0.938)
  operators/e2e-memcached-operator/0.0.938/Dockerfile
  operators/e2e-memcached-operator/0.0.938/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.938/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.938/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.938/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.938/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.938/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4087 operator testing-e2e-operator-123 (0.0.2)
  operators/testing-e2e-operator-123/0.0.2/Dockerfile
  operators/testing-e2e-operator-123/0.0.2/manifests/cache.quay.io_memcacheds.yaml
  operators/testing-e2e-operator-123/0.0.2/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/testing-e2e-operator-123/0.0.2/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/testing-e2e-operator-123/0.0.2/manifests/memcached-operator.clusterserviceversion.yaml
  operators/testing-e2e-operator-123/0.0.2/metadata/annotations.yaml
  operators/testing-e2e-operator-123/0.0.2/tests/scorecard/config.yaml
  operators/testing-e2e-operator-123/ci.yaml
Labels: operator-hosted-pipeline/started

#4089 operator e2e-memcached-operator (0.0.940)
  operators/e2e-memcached-operator/0.0.940/Dockerfile
  operators/e2e-memcached-operator/0.0.940/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.940/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.940/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.940/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.940/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.940/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4090 operator e2e-memcached-operator (0.0.941)
  operators/e2e-memcached-operator/0.0.941/Dockerfile
  operators/e2e-memcached-operator/0.0.941/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.941/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.941/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.941/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.941/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.941/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4091 operator e2e-memcached-operator (0.0.942)
  operators/e2e-memcached-operator/0.0.942/Dockerfile
  operators/e2e-memcached-operator/0.0.942/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.942/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.942/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.942/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.942/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.942/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4092 operator e2e-memcached-operator (0.0.943)
  operators/e2e-memcached-operator/0.0.943/Dockerfile
  operators/e2e-memcached-operator/0.0.943/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.943/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.943/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.943/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.943/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.943/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4093 operator e2e-webonly-operator (0.0.176)
  operators/e2e-webonly-operator/0.0.176/Dockerfile
  operators/e2e-webonly-operator/0.0.176/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-webonly-operator/0.0.176/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-webonly-operator/0.0.176/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-webonly-operator/0.0.176/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-webonly-operator/0.0.176/metadata/annotations.yaml
  operators/e2e-webonly-operator/0.0.176/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4094 operator e2e-memcached-operator (0.0.944)
  operators/e2e-memcached-operator/0.0.944/Dockerfile
  operators/e2e-memcached-operator/0.0.944/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.944/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.944/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.944/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.944/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.944/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4095 operator e2e-memcached-operator (0.0.945)
  operators/e2e-memcached-operator/0.0.945/Dockerfile
  operators/e2e-memcached-operator/0.0.945/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.945/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.945/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.945/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.945/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.945/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4096 operator e2e-memcached-operator (0.0.946)
  operators/e2e-memcached-operator/0.0.946/Dockerfile
  operators/e2e-memcached-operator/0.0.946/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.946/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.946/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.946/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.946/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.946/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4097 operator e2e-memcached-operator (0.0.947)
  operators/e2e-memcached-operator/0.0.947/Dockerfile
  operators/e2e-memcached-operator/0.0.947/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.947/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.947/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.947/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.947/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.947/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4098 operator e2e-memcached-operator (0.0.948)
  operators/e2e-memcached-operator/0.0.948/Dockerfile
  operators/e2e-memcached-operator/0.0.948/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.948/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.948/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.948/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.948/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.948/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4099 operator e2e-memcached-operator (0.0.949)
  operators/e2e-memcached-operator/0.0.949/Dockerfile
  operators/e2e-memcached-operator/0.0.949/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.949/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.949/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.949/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.949/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.949/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4100 operator e2e-memcached-operator (0.0.950)
  operators/e2e-memcached-operator/0.0.950/Dockerfile
  operators/e2e-memcached-operator/0.0.950/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.950/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.950/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.950/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.950/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.950/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4101 operator e2e-memcached-operator (0.0.951)
  operators/e2e-memcached-operator/0.0.951/Dockerfile
  operators/e2e-memcached-operator/0.0.951/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.951/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.951/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.951/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.951/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.951/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4105 operator e2e-memcached-operator (0.0.953)
  operators/e2e-memcached-operator/0.0.953/Dockerfile
  operators/e2e-memcached-operator/0.0.953/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.953/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.953/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.953/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.953/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.953/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4106 operator e2e-memcached-operator (0.0.954)
  operators/e2e-memcached-operator/0.0.954/Dockerfile
  operators/e2e-memcached-operator/0.0.954/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.954/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.954/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.954/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.954/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.954/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4107 operator e2e-memcached-operator (0.0.955)
  operators/e2e-memcached-operator/0.0.955/Dockerfile
  operators/e2e-memcached-operator/0.0.955/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.955/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.955/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.955/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.955/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.955/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4110 operator e2e-memcached-operator (0.0.957)
  operators/e2e-memcached-operator/0.0.957/Dockerfile
  operators/e2e-memcached-operator/0.0.957/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.957/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.957/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.957/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.957/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.957/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4111 operator e2e-memcached-operator (0.0.958)
  operators/e2e-memcached-operator/0.0.958/Dockerfile
  operators/e2e-memcached-operator/0.0.958/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.958/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.958/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.958/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.958/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.958/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4112 operator e2e-memcached-operator (0.0.959)
  operators/e2e-memcached-operator/0.0.959/Dockerfile
  operators/e2e-memcached-operator/0.0.959/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.959/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.959/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.959/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.959/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.959/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4113 operator e2e-memcached-operator (0.0.960)
  operators/e2e-memcached-operator/0.0.960/Dockerfile
  operators/e2e-memcached-operator/0.0.960/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.960/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.960/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.960/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.960/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.960/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4114 operator e2e-webonly-operator (0.0.177)
  operators/e2e-webonly-operator/0.0.177/Dockerfile
  operators/e2e-webonly-operator/0.0.177/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-webonly-operator/0.0.177/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-webonly-operator/0.0.177/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-webonly-operator/0.0.177/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-webonly-operator/0.0.177/metadata/annotations.yaml
  operators/e2e-webonly-operator/0.0.177/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4115 operator e2e-memcached-operator (0.0.961)
  operators/e2e-memcached-operator/0.0.961/Dockerfile
  operators/e2e-memcached-operator/0.0.961/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.961/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.961/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.961/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.961/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.961/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4117 operator e2e-webonly-operator (0.0.178)
  operators/e2e-webonly-operator/0.0.178/Dockerfile
  operators/e2e-webonly-operator/0.0.178/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-webonly-operator/0.0.178/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-webonly-operator/0.0.178/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-webonly-operator/0.0.178/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-webonly-operator/0.0.178/metadata/annotations.yaml
  operators/e2e-webonly-operator/0.0.178/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4118 operator e2e-memcached-operator (0.0.962)
  operators/e2e-memcached-operator/0.0.962/Dockerfile
  operators/e2e-memcached-operator/0.0.962/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.962/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.962/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.962/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.962/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.962/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4119 operator e2e-memcached-operator (0.0.963)
  operators/e2e-memcached-operator/0.0.963/Dockerfile
  operators/e2e-memcached-operator/0.0.963/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.963/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.963/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.963/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.963/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.963/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4120 operator e2e-memcached-operator (0.0.964)
  operators/e2e-memcached-operator/0.0.964/Dockerfile
  operators/e2e-memcached-operator/0.0.964/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.964/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.964/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.964/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.964/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.964/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4121 operator e2e-memcached-operator (0.0.965)
  operators/e2e-memcached-operator/0.0.965/Dockerfile
  operators/e2e-memcached-operator/0.0.965/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.965/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.965/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.965/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.965/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.965/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4122 operator e2e-memcached-operator (0.0.966)
  operators/e2e-memcached-operator/0.0.966/Dockerfile
  operators/e2e-memcached-operator/0.0.966/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.966/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.966/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.966/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.966/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.966/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4123 operator e2e-memcached-operator (0.0.967)
  operators/e2e-memcached-operator/0.0.967/Dockerfile
  operators/e2e-memcached-operator/0.0.967/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.967/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.967/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.967/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.967/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.967/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4124 operator e2e-memcached-operator (0.0.968)
  operators/e2e-memcached-operator/0.0.968/Dockerfile
  operators/e2e-memcached-operator/0.0.968/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.968/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.968/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.968/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.968/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.968/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4125 operator e2e-webonly-operator (0.0.179)
  operators/e2e-webonly-operator/0.0.179/Dockerfile
  operators/e2e-webonly-operator/0.0.179/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-webonly-operator/0.0.179/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-webonly-operator/0.0.179/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-webonly-operator/0.0.179/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-webonly-operator/0.0.179/metadata/annotations.yaml
  operators/e2e-webonly-operator/0.0.179/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4126 operator e2e-memcached-operator (0.0.969)
  operators/e2e-memcached-operator/0.0.969/Dockerfile
  operators/e2e-memcached-operator/0.0.969/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.969/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.969/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.969/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.969/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.969/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4127 operator e2e-memcached-operator (0.0.970)
  operators/e2e-memcached-operator/0.0.970/Dockerfile
  operators/e2e-memcached-operator/0.0.970/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.970/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.970/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.970/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.970/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.970/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4128 operator e2e-memcached-operator (0.0.971)
  operators/e2e-memcached-operator/0.0.971/Dockerfile
  operators/e2e-memcached-operator/0.0.971/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.971/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.971/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.971/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.971/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.971/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4129 operator e2e-memcached-operator (0.0.972)
  operators/e2e-memcached-operator/0.0.972/Dockerfile
  operators/e2e-memcached-operator/0.0.972/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.972/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.972/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.972/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.972/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.972/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4130 operator e2e-memcached-operator (0.0.973)
  operators/e2e-memcached-operator/0.0.973/Dockerfile
  operators/e2e-memcached-operator/0.0.973/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.973/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.973/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.973/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.973/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.973/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4131 operator e2e-memcached-operator (0.0.974)
  operators/e2e-memcached-operator/0.0.974/Dockerfile
  operators/e2e-memcached-operator/0.0.974/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.974/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.974/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.974/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.974/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.974/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4132 operator e2e-memcached-operator (0.0.975)
  operators/e2e-memcached-operator/0.0.975/Dockerfile
  operators/e2e-memcached-operator/0.0.975/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.975/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.975/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.975/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.975/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.975/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4133 operator e2e-memcached-operator (0.0.976)
  operators/e2e-memcached-operator/0.0.976/Dockerfile
  operators/e2e-memcached-operator/0.0.976/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.976/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.976/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.976/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.976/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.976/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4134 operator e2e-webonly-operator (0.0.180)
  operators/e2e-webonly-operator/0.0.180/Dockerfile
  operators/e2e-webonly-operator/0.0.180/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-webonly-operator/0.0.180/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-webonly-operator/0.0.180/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-webonly-operator/0.0.180/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-webonly-operator/0.0.180/metadata/annotations.yaml
  operators/e2e-webonly-operator/0.0.180/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4135 operator e2e-memcached-operator (0.0.977)
  operators/e2e-memcached-operator/0.0.977/Dockerfile
  operators/e2e-memcached-operator/0.0.977/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.977/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.977/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.977/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.977/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.977/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4136 operator e2e-memcached-operator (0.0.978)
  operators/e2e-memcached-operator/0.0.978/Dockerfile
  operators/e2e-memcached-operator/0.0.978/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.978/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.978/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.978/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.978/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.978/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4137 operator e2e-memcached-operator (0.0.979)
  operators/e2e-memcached-operator/0.0.979/Dockerfile
  operators/e2e-memcached-operator/0.0.979/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.979/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.979/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.979/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.979/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.979/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4138 operator e2e-memcached-operator (0.0.980)
  operators/e2e-memcached-operator/0.0.980/Dockerfile
  operators/e2e-memcached-operator/0.0.980/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.980/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.980/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.980/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.980/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.980/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4139 operator e2e-memcached-operator (0.0.981)
  operators/e2e-memcached-operator/0.0.981/Dockerfile
  operators/e2e-memcached-operator/0.0.981/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.981/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.981/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.981/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.981/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.981/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4140 operator e2e-memcached-operator (0.0.982)
  operators/e2e-memcached-operator/0.0.982/Dockerfile
  operators/e2e-memcached-operator/0.0.982/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.982/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.982/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.982/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.982/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.982/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4141 operator e2e-memcached-operator (0.0.983)
  operators/e2e-memcached-operator/0.0.983/Dockerfile
  operators/e2e-memcached-operator/0.0.983/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.983/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.983/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.983/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.983/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.983/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4142 operator e2e-memcached-operator (0.0.984)
  operators/e2e-memcached-operator/0.0.984/Dockerfile
  operators/e2e-memcached-operator/0.0.984/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.984/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.984/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.984/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.984/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.984/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4143 operator e2e-webonly-operator (0.0.181)
  operators/e2e-webonly-operator/0.0.181/Dockerfile
  operators/e2e-webonly-operator/0.0.181/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-webonly-operator/0.0.181/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-webonly-operator/0.0.181/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-webonly-operator/0.0.181/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-webonly-operator/0.0.181/metadata/annotations.yaml
  operators/e2e-webonly-operator/0.0.181/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4144 operator e2e-memcached-operator (0.0.985)
  operators/e2e-memcached-operator/0.0.985/Dockerfile
  operators/e2e-memcached-operator/0.0.985/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.985/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.985/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.985/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.985/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.985/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4145 operator e2e-memcached-operator (0.0.986)
  operators/e2e-memcached-operator/0.0.986/Dockerfile
  operators/e2e-memcached-operator/0.0.986/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.986/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.986/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.986/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.986/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.986/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4148 operator e2e-memcached-operator (0.0.987)
  operators/e2e-memcached-operator/0.0.987/Dockerfile
  operators/e2e-memcached-operator/0.0.987/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.987/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.987/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.987/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.987/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.987/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4149 operator e2e-memcached-operator (0.0.988)
  operators/e2e-memcached-operator/0.0.988/Dockerfile
  operators/e2e-memcached-operator/0.0.988/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.988/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.988/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.988/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.988/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.988/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4150 operator e2e-memcached-operator (0.0.989)
  operators/e2e-memcached-operator/0.0.989/Dockerfile
  operators/e2e-memcached-operator/0.0.989/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.989/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.989/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.989/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.989/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.989/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4151 operator e2e-memcached-operator (0.0.990)
  operators/e2e-memcached-operator/0.0.990/Dockerfile
  operators/e2e-memcached-operator/0.0.990/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.990/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.990/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.990/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.990/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.990/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4152 operator e2e-webonly-operator (0.0.182)
  operators/e2e-webonly-operator/0.0.182/Dockerfile
  operators/e2e-webonly-operator/0.0.182/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-webonly-operator/0.0.182/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-webonly-operator/0.0.182/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-webonly-operator/0.0.182/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-webonly-operator/0.0.182/metadata/annotations.yaml
  operators/e2e-webonly-operator/0.0.182/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4153 operator e2e-memcached-operator (0.0.991)
  operators/e2e-memcached-operator/0.0.991/Dockerfile
  operators/e2e-memcached-operator/0.0.991/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.991/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.991/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.991/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.991/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.991/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4154 operator e2e-memcached-operator (0.0.992)
  operators/e2e-memcached-operator/0.0.992/Dockerfile
  operators/e2e-memcached-operator/0.0.992/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.992/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.992/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.992/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.992/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.992/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4156 operator e2e-preflight-operator (0.0.2)
  operators/e2e-preflight-operator/0.0.2/Dockerfile
  operators/e2e-preflight-operator/0.0.2/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-preflight-operator/0.0.2/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-preflight-operator/0.0.2/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-preflight-operator/0.0.2/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-preflight-operator/0.0.2/metadata/annotations.yaml
  operators/e2e-preflight-operator/0.0.2/tests/scorecard/config.yaml
  operators/e2e-preflight-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#4162 operator operator-bundle-image-415 (0.0.2)
  operators/operator-bundle-image-415/0.0.2/Dockerfile
  operators/operator-bundle-image-415/0.0.2/manifests/cache.quay.io_memcacheds.yaml
  operators/operator-bundle-image-415/0.0.2/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/operator-bundle-image-415/0.0.2/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/operator-bundle-image-415/0.0.2/manifests/memcached-operator.clusterserviceversion.yaml
  operators/operator-bundle-image-415/0.0.2/metadata/annotations.yaml
  operators/operator-bundle-image-415/0.0.2/tests/scorecard/config.yaml
  operators/operator-bundle-image-415/ci.yaml
Labels: operator-hosted-pipeline/started

#4163 operator e2e-webonly-operator (0.0.183)
  operators/e2e-webonly-operator/0.0.183/Dockerfile
  operators/e2e-webonly-operator/0.0.183/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-webonly-operator/0.0.183/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-webonly-operator/0.0.183/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-webonly-operator/0.0.183/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-webonly-operator/0.0.183/metadata/annotations.yaml
  operators/e2e-webonly-operator/0.0.183/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4159 operator operator-demo (0.0.100)
  operators/operator-demo/0.0.100/manifests/operator-demo-controller-manager-metrics-service_v1_service.yaml
  operators/operator-demo/0.0.100/manifests/operator-demo-manager-config_v1_configmap.yaml
  operators/operator-demo/0.0.100/manifests/operator-demo-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/operator-demo/0.0.100/manifests/operator-demo.clusterserviceversion.yaml
  operators/operator-demo/0.0.100/manifests/tools.opdev.io_demoresources.yaml
  operators/operator-demo/0.0.100/metadata/annotations.yaml
  operators/operator-demo/0.0.100/tests/scorecard/config.yaml
  operators/operator-demo/ci.yaml
Labels: operator-hosted-pipeline/passed

#4172 operator e2e-memcached-operator (0.0.993)
  operators/e2e-memcached-operator/0.0.993/Dockerfile
  operators/e2e-memcached-operator/0.0.993/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.993/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.993/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.993/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.993/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.993/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4173 operator e2e-memcached-operator (0.0.994)
  operators/e2e-memcached-operator/0.0.994/Dockerfile
  operators/e2e-memcached-operator/0.0.994/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.994/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.994/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.994/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.994/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.994/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4174 operator e2e-webonly-operator (0.0.184)
  operators/e2e-webonly-operator/0.0.184/Dockerfile
  operators/e2e-webonly-operator/0.0.184/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-webonly-operator/0.0.184/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-webonly-operator/0.0.184/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-webonly-operator/0.0.184/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-webonly-operator/0.0.184/metadata/annotations.yaml
  operators/e2e-webonly-operator/0.0.184/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4176 operator e2e-memcached-operator (0.0.995)
  operators/e2e-memcached-operator/0.0.995/Dockerfile
  operators/e2e-memcached-operator/0.0.995/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.995/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.995/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.995/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.995/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.995/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4177 operator e2e-webonly-operator (0.0.185)
  operators/e2e-webonly-operator/0.0.185/Dockerfile
  operators/e2e-webonly-operator/0.0.185/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-webonly-operator/0.0.185/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-webonly-operator/0.0.185/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-webonly-operator/0.0.185/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-webonly-operator/0.0.185/metadata/annotations.yaml
  operators/e2e-webonly-operator/0.0.185/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4178 operator e2e-memcached-operator (0.0.996)
  operators/e2e-memcached-operator/0.0.996/Dockerfile
  operators/e2e-memcached-operator/0.0.996/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.996/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.996/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.996/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.996/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.996/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4180 operator e2e-webonly-operator (0.0.186)
  operators/e2e-webonly-operator/0.0.186/Dockerfile
  operators/e2e-webonly-operator/0.0.186/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-webonly-operator/0.0.186/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-webonly-operator/0.0.186/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-webonly-operator/0.0.186/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-webonly-operator/0.0.186/metadata/annotations.yaml
  operators/e2e-webonly-operator/0.0.186/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4182 operator e2e-memcached-operator (0.0.998)
  operators/e2e-memcached-operator/0.0.998/Dockerfile
  operators/e2e-memcached-operator/0.0.998/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.998/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.998/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.998/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.998/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.998/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4183 operator e2e-memcached-operator (0.0.999)
  operators/e2e-memcached-operator/0.0.999/Dockerfile
  operators/e2e-memcached-operator/0.0.999/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.999/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.999/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.999/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.999/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.999/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4186 operator e2e-memcached-operator (0.0.1001)
  operators/e2e-memcached-operator/0.0.1001/Dockerfile
  operators/e2e-memcached-operator/0.0.1001/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.1001/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.1001/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.1001/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.1001/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.1001/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4187 operator e2e-memcached-operator (0.0.1002)
  operators/e2e-memcached-operator/0.0.1002/Dockerfile
  operators/e2e-memcached-operator/0.0.1002/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.1002/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.1002/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.1002/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.1002/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.1002/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4188 operator e2e-memcached-operator (0.0.1003)
  operators/e2e-memcached-operator/0.0.1003/Dockerfile
  operators/e2e-memcached-operator/0.0.1003/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.1003/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.1003/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.1003/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.1003/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.1003/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4189 operator e2e-memcached-operator (0.0.1004)
  operators/e2e-memcached-operator/0.0.1004/Dockerfile
  operators/e2e-memcached-operator/0.0.1004/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.1004/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.1004/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.1004/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.1004/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.1004/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4190 operator e2e-memcached-operator (0.0.1005)
  operators/e2e-memcached-operator/0.0.1005/Dockerfile
  operators/e2e-memcached-operator/0.0.1005/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.1005/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.1005/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.1005/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.1005/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.1005/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4191 operator e2e-memcached-operator (0.0.1006)
  operators/e2e-memcached-operator/0.0.1006/Dockerfile
  operators/e2e-memcached-operator/0.0.1006/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.1006/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.1006/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.1006/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.1006/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.1006/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4192 operator e2e-webonly-operator (0.0.187)
  operators/e2e-webonly-operator/0.0.187/Dockerfile
  operators/e2e-webonly-operator/0.0.187/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-webonly-operator/0.0.187/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-webonly-operator/0.0.187/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-webonly-operator/0.0.187/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-webonly-operator/0.0.187/metadata/annotations.yaml
  operators/e2e-webonly-operator/0.0.187/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4193 operator e2e-memcached-operator (0.0.1007)
  operators/e2e-memcached-operator/0.0.1007/Dockerfile
  operators/e2e-memcached-operator/0.0.1007/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.1007/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.1007/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.1007/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.1007/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.1007/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4194 operator e2e-memcached-operator (0.0.1008)
  operators/e2e-memcached-operator/0.0.1008/Dockerfile
  operators/e2e-memcached-operator/0.0.1008/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.1008/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.1008/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.1008/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.1008/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.1008/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4195 operator e2e-memcached-operator (0.0.1009)
  operators/e2e-memcached-operator/0.0.1009/Dockerfile
  operators/e2e-memcached-operator/0.0.1009/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.1009/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.1009/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.1009/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.1009/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.1009/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4196 operator e2e-memcached-operator (0.0.1010)
  operators/e2e-memcached-operator/0.0.1010/Dockerfile
  operators/e2e-memcached-operator/0.0.1010/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.1010/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.1010/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.1010/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.1010/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.1010/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4197 operator e2e-memcached-operator (0.0.1011)
  operators/e2e-memcached-operator/0.0.1011/Dockerfile
  operators/e2e-memcached-operator/0.0.1011/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.1011/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.1011/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.1011/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.1011/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.1011/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4198 operator e2e-memcached-operator (0.0.1012)
  operators/e2e-memcached-operator/0.0.1012/Dockerfile
  operators/e2e-memcached-operator/0.0.1012/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.1012/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.1012/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.1012/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.1012/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.1012/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4199 operator e2e-memcached-operator (0.0.1013)
  operators/e2e-memcached-operator/0.0.1013/Dockerfile
  operators/e2e-memcached-operator/0.0.1013/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.1013/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.1013/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.1013/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.1013/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.1013/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4200 operator e2e-memcached-operator (0.0.1014)
  operators/e2e-memcached-operator/0.0.1014/Dockerfile
  operators/e2e-memcached-operator/0.0.1014/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.1014/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.1014/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.1014/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.1014/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.1014/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4201 operator e2e-webonly-operator (0.0.188)
  operators/e2e-webonly-operator/0.0.188/Dockerfile
  operators/e2e-webonly-operator/0.0.188/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-webonly-operator/0.0.188/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-webonly-operator/0.0.188/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-webonly-operator/0.0.188/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-webonly-operator/0.0.188/metadata/annotations.yaml
  operators/e2e-webonly-operator/0.0.188/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4202 operator e2e-memcached-operator (0.0.1015)
  operators/e2e-memcached-operator/0.0.1015/Dockerfile
  operators/e2e-memcached-operator/0.0.1015/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.1015/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.1015/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.1015/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.1015/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.1015/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4203 operator e2e-memcached-operator (0.0.1016)
  operators/e2e-memcached-operator/0.0.1016/Dockerfile
  operators/e2e-memcached-operator/0.0.1016/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.1016/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.1016/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.1016/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.1016/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.1016/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4205 operator e2e-memcached-operator (0.0.1017)
  operators/e2e-memcached-operator/0.0.1017/Dockerfile
  operators/e2e-memcached-operator/0.0.1017/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.1017/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.1017/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.1017/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.1017/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.1017/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4207 operator e2e-memcached-operator (0.0.1018)
  operators/e2e-memcached-operator/0.0.1018/Dockerfile
  operators/e2e-memcached-operator/0.0.1018/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.1018/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.1018/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.1018/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.1018/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.1018/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4208 operator e2e-memcached-operator (0.0.1019)
  operators/e2e-memcached-operator/0.0.1019/Dockerfile
  operators/e2e-memcached-operator/0.0.1019/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.1019/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.1019/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.1019/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.1019/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.1019/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4209 operator e2e-memcached-operator (0.0.1020)
  operators/e2e-memcached-operator/0.0.1020/Dockerfile
  operators/e2e-memcached-operator/0.0.1020/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.1020/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.1020/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.1020/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.1020/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.1020/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4210 operator e2e-webonly-operator (0.0.189)
  operators/e2e-webonly-operator/0.0.189/Dockerfile
  operators/e2e-webonly-operator/0.0.189/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-webonly-operator/0.0.189/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-webonly-operator/0.0.189/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-webonly-operator/0.0.189/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-webonly-operator/0.0.189/metadata/annotations.yaml
  operators/e2e-webonly-operator/0.0.189/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4211 operator e2e-memcached-operator (0.0.1021)
  operators/e2e-memcached-operator/0.0.1021/Dockerfile
  operators/e2e-memcached-operator/0.0.1021/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.1021/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.1021/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.1021/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.1021/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.1021/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4213 operator e2e-memcached-operator (0.0.1023)
  operators/e2e-memcached-operator/0.0.1023/Dockerfile
  operators/e2e-memcached-operator/0.0.1023/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.1023/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.1023/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.1023/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.1023/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.1023/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4214 operator e2e-memcached-operator (0.0.1024)
  operators/e2e-memcached-operator/0.0.1024/Dockerfile
  operators/e2e-memcached-operator/0.0.1024/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.1024/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.1024/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.1024/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.1024/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.1024/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4215 operator e2e-memcached-operator (0.0.1025)
  operators/e2e-memcached-operator/0.0.1025/Dockerfile
  operators/e2e-memcached-operator/0.0.1025/manifests/cache.quay.io_memcacheds.yaml
  operators/e2e-memcached-operator/0.0.1025/manifests/memcached-operator-controller-manager-metrics-service_v1_service.yaml
  operators/e2e-memcached-operator/0.0.1025/manifests/memcached-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/e2e-memcached-operator/0.0.1025/manifests/memcached-operator.clusterserviceversion.yaml
  operators/e2e-memcached-operator/0.0.1025/metadata/annotations.yaml
  operators/e2e-memcached-operator/0.0.1025/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started
